language: android
jdk: oraclejdk8
sudo: false

notifications:
  email:
    on_success: change
    on_failure: change

env:
  global:
    - COMPILE_API_LEVEL=27
    - EMULATOR_API_LEVEL=24              # It seems emulator levels 25,26,27 from main repos have google_apis by default, and do not support armeabi-v7a. Check commit comment.
    - EMULATOR_TAG=default               # Possible values are default, google_apis, android-tv, android-wear, android-wear-cn
    - EMULATOR_ABI=armeabi-v7a           # Default is armeabi-v7a, possible options are: x86, x86_64, mips, arm64-v8a, armeabi-v7a. Note: check commit comment
    - EMULATOR_NAME=qksms3
    - ANDROID_BUILD_TOOLS_VERSION=27.0.2 # Match build-tools version used in build.gradle
    - EMULATOR="system-images;android-${EMULATOR_API_LEVEL};${EMULATOR_TAG};${EMULATOR_ABI}" # Used to install/create emulator

before_cache:
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/modules-2/modules-2.lock # Avoid to repack it due locks
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/3.3/classAnalysis/classAnalysis.lock
  - rm -f ${TRAVIS_BUILD_DIR}/gradle/caches/3.3/jarSnapshots/jarSnapshots.lock

cache:
  directories:
    - ${TRAVIS_BUILD_DIR}/gradle/caches/
    - ${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/
    - ${TRAVIS_BUILD_DIR}/.android/build-cache

android:
  components:
    - tools
    - platform-tools
    - tools
    - extra

    # The build tools used in the project
    - build-tools-${ANDROID_BUILD_TOOLS_VERSION}

    # The SDK used in the project
    - android-${COMPILE_API_LEVEL}

    # For running the emulator in Travis
    - android-${EMULATOR_API_LEVEL}
    - sys-img-${EMULATOR_ABI}-android-${EMULATOR_API_LEVEL}

# Set up Android-sdk and the emulator
before_install:
  - chmod a+x ~/.travis/*.sh

  - echo 'count=0' > /home/travis/.android/repositories.cfg # Avoid warning
  - ls -lar $HOME/**/*

  # List and delete unnecessary components to free space
  - sdkmanager --list || true                                     # Print out package list for debug purposes
  - sdkmanager --uninstall "extras;google;google_play_services"
  - yes | sdkmanager "tools"                                      # Update tools
  - yes | sdkmanager "platforms;android-${EMULATOR_API_LEVEL}"    # Android platform required by emulator
  - yes | sdkmanager "platforms;android-${COMPILE_API_LEVEL}"     # Android platform required by compiler
  - yes | sdkmanager "build-tools;${ANDROID_BUILD_TOOLS_VERSION}" # Android build tools
  - yes | sdkmanager "${EMULATOR}" # Install emulator system image
  - sdkmanager --list || true                                     # Print out package list for debug purposes

# Build APK
install:
  - ./travis/build.sh

deploy:
  # Deploy gh-pages if on master, or tagged release
  - provider: script
    skip_cleanup: true
    script: .travis/gh-pages.sh
  # Emulate if on tagged release
  - provider: script
    skip_cleanup: true
    script: .travis/emulate.sh
    on:
      tags: true
  # Deploy to GitHub if on tagged release
  - provider: script
    skip_cleanup: true
    script: .travis/deploy.sh
    on:
      tags: true
