<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.moez.QKSMS"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".QKSMSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_teal"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeDark">
        <activity
            android:name=".ui.popup.QKComposeActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeLightDialog"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher_teal"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@color/transparent"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.MainActivity-Teal"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Red"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Pink"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_pink"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Purple"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-DeepPurple"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_deep_purple"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Indigo"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_indigo"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Blue"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-LightBlue"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_light_blue"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Cyan"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_cyan"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Green"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-LightGreen"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_light_green"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Lime"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_lime"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Yellow"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_yellow"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Amber"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_amber"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Orange"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_orange"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-DeepOrange"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_deep_orange"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Brown"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_brown"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-Grey"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_grey"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.MainActivity-BlueGrey"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_blue_grey"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:theme="@style/AppThemeLight" />

        <!-- Popup activity -->
        <activity
            android:name=".ui.popup.QKReplyActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeLightDialog"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.mms.SlideshowActivity" />

        <receiver
            android:name=".receiver.WearableIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.moez.QKSMS.receiver.WearableIntentReceiver.REPLY" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for SMS -->
        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="@bool/hasKitKat"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.IconColorReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.moez.QKSMS.action.PENDING_PACKAGE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Legacy broadcast receiver for SMS -->
        <receiver
            android:name=".receiver.SmsReceiverLegacy"
            android:enabled="@bool/preKitKat">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for MMS -->
        <receiver
            android:name=".receiver.PushReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".mmssms.SentReceiver">
            <intent-filter>
                <action android:name="com.moez.QKSMS.SMS_SENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DeliveredReceiver">
            <intent-filter>
                <action android:name="com.moez.QKSMS.SMS_DELIVERED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MessageFailedReceiver">
            <intent-filter>
                <action android:name="com.moez.QKSMS.NOTIFY_SMS_FAILURE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MarkReadReceiver">
            <intent-filter>
                <action android:name="com.moez.QKSMS.MARK_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MarkSeenReceiver">
            <intent-filter>
                <action android:name="com.moez.QKSMS.MARK_SEEN" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.moez.QKSMS.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".receiver.NightModeAutoReceiver" />
        <receiver
            android:name="com.mariussoft.endlessjabber.sdk.EndlessJabberReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.mariussoft.endlessjabber.action.extend" />
            </intent-filter>
        </receiver>

        <service android:name="com.mariussoft.endlessjabber.sdk.EndlessJabberWakefulService" />

        <service
            android:name=".receiver.UnreadBadgeService"
            android:exported="false" />

        <service android:name=".service.ShouldIAnswerService">
            <intent-filter>
                <action android:name="com.moez.QKSMS.ShouldIAnswerService" />
            </intent-filter>
        </service>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service
            android:name=".service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name=".service.PushbulletService"
            android:permission="com.pushbullet.android.permission.READ_MESSAGING_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.pushbullet.android.extension.MessagingExtension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
        </service>
        <service android:name="com.android.mms.transaction.TransactionService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.MarkReadService" />
        <service android:name=".service.MarkSeenService" />
        <service android:name=".service.DeleteUnreadMessageService" />
        <service android:name=".service.CopyUnreadMessageTextService" />
        <service
            android:name=".ui.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0" />

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632dp" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598dp" />
    </application>

</manifest>
